:root {
    --g0: #121212;
    --g1: #333333;
    --g2: #555555;
    --g3: #808080;
    --g4: #f0f0f0;
    --p: #ff5f59;
}

html {
    background: var(--g0);
    color: var(--g4);
    font-family: var(--font-body), system-ui, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-header), system-ui, sans-serif;
}

code {
    font-family: var(--font-mono), monospace;
}
