:root {
    /* dimensions */
    --toc-width: 17rem;
}
:root[data-theme="light"] {
    /* colors */
    --bg: #f0f0f0;
    --g1: #bbbbbb;
    --g2: #949494;
    --g3: #5f5f5f;
    --g4: #3c3c3c;
    --fg: #0a0a0a;
    --p: #f16363;

    /* syntax highlighting */
    --modus-gray: #595959;
    --modus-white: #000000;
    --modus-green: #2a5045;
    --modus-blue: #0031a9;
    --modus-blueSubtle: #354fcf;
    --modus-cyan: #005e8b;
    --modus-yellow: #6f5500;
    --modus-red: #a60000;
    --modus-orange: #7a4f2f;
    --modus-purple: #531ab6;
    --modus-pink: #721045;
    --modus-bg-add: #c1f2d1;
    --modus-add: #005000;
    --modus-bg-remove: #ffd8d5;
    --modus-remove: #8f1313;
}

:root[data-theme="dark"] {
    /* colors */
    --bg: #0a0a0a;
    --g1: #262626;
    --g2: #474747;
    --g3: #7a7a7a;
    --g4: #a0a0a0;
    --fg: #f0f0f0;
    --p: #9d1f1f;

    /* syntax highlighting */
    --modus-gray: #989898;
    --modus-white: #ffffff;
    --modus-green: #88ca9f;
    --modus-blue: #2fafff;
    --modus-blueSubtle: #79a8ff;
    --modus-cyan: #00d3d0;
    --modus-yellow: #d0bc00;
    --modus-red: #ff5f59;
    --modus-orange: #dfaf7a;
    --modus-purple: #b6a0ff;
    --modus-pink: #feacd0;
    --modus-bg-add: #00381f;
    --modus-add: #237f3f;
    --modus-bg-remove: #4f1119;
    --modus-remove: #b81a1f;
}

html {
    background: var(--bg);
    color: var(--fg);
    font-family: var(--font-default), system-ui, sans-serif;
    counter-reset: sidenote;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-header), system-ui, sans-serif;
}

h2 {
    &::before {
        content: "#";
        margin-inline-end: 0.5rem;
        color: var(--p);
    }
}

h3 {
    &::before {
        content: "##";
        margin-inline-end: 0.5rem;
        color: var(--p);
    }
}

h4 {
    &::before {
        content: "###";
        margin-inline-end: 0.5rem;
        color: var(--p);
    }
}

h5 {
    &::before {
        content: "####";
        margin-inline-end: 0.5rem;
        color: var(--p);
    }
}

h6 {
    &::before {
        content: "#####";
        margin-inline-end: 0.5rem;
        color: var(--p);
    }
}

p {
    margin: 1rem 0;
}

a {
    color: var(--fg);
    text-decoration: underline;
    text-decoration-color: var(--p);
    text-decoration-thickness: 1.5px;
    cursor: pointer;

    &:hover {
        background: var(--p);
        color: var(--fg);
    }

    &.subtle {
        color: var(--g3);
        text-decoration: none;

        &:hover {
            background: var(--g2);
            color: var(--fg);
        }
    }
}

code {
    display: inline-block;
    font-family: var(--font-mono), monospace;
    background: var(--g1);
    box-shadow: inset 0 0 0 1px var(--g3);
    padding: 0 0.25rem;
    margin: 0 0.125rem;
}

pre[data-language] {
    position: relative;
    background: var(--bg) !important;
    border: 1px solid var(--fg);
    padding: 1rem;

    code {
        display: unset;
        background: unset;
        box-shadow: unset;
        padding: unset;
        margin: unset;

        .diff {
            display: inline-block;
            width: 100%;
            line-height: 1.25;

            &.add {
                background: var(--modus-bg-add);

                &::before {
                    position: absolute;
                    padding-inline: 0.25rem;
                    content: "+";
                    color: var(--modus-add);
                }
            }

            &.remove {
                background: var(--modus-bg-remove);

                &::before {
                    position: absolute;
                    padding-inline: 0.25rem;
                    content: "-";
                    color: var(--modus-remove);
                }
            }
        }
    }

    .copy-code {
        font-family: var(--font-default);
        position: absolute;
        inset-block-start: 0.5rem;
        inset-inline-end: 0.5rem;
        background: var(--g1);
        color: var(--fg);
        border: 1px solid var(--fg);
        padding: 0.25rem 0.5rem;
        font-size: 0.75rem;
        cursor: pointer;

        &:hover {
            background: var(--fg);
            color: var(--bg);
        }
    }
}

img {
    background: var(--bg);
    border: 2px solid var(--bg);
    box-shadow: 0 0 0 1px var(--fg);
    object-fit: cover;
    filter: grayscale(100%) brightness(0.85);
    transition: filter 0.1s ease;

    &:hover,
    &:active {
        filter: grayscale(0%) brightness(1);
    }
}

ul {
    list-style: square;
}

/* footnotes */
sup a[aria-describedby="footnote-label"] {
    color: var(--p);
    font-weight: bold;
    text-decoration: none;

    &:hover {
        background: transparent;
        text-decoration: underline;
    }
}

section.footnotes {
    background: var(--bg);
    border: 1px solid var(--fg);
    padding: 1rem;
    margin-block: 2rem;

    h2 {
        font-size: 1.25rem;
        margin: 0;
        color: var(--p);

        &::before {
            content: "";
            margin: 0;
        }
    }

    ol {
        padding-inline: 1rem;

        li p {
            margin-block: 1rem;

            a[data-footnote-backref] {
                color: var(--p);
                font-weight: bold;
                text-decoration: none;
                cursor: pointer;

                &:hover {
                    color: var(--fg);
                }
            }
        }
    }
}
