:root {
    --bg: #0a0a0a;
    --g1: #262626;
    --g2: #474747;
    --g3: #696969;
    --fg: #f0f0f0;
    --p: #9a2549;
}

html {
    background: var(--bg);
    color: var(--fg);
    font-family: var(--font-default), system-ui, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-header), system-ui, sans-serif;

    &::before {
        content: "#";
        margin-inline-end: 0.5rem;
        color: var(--p);
    }
}

p {
    margin: 1rem 0;
}

a {
    color: var(--fg);
    text-decoration: 1.5px underline solid var(--p);
    cursor: pointer;

    &:hover {
        background: var(--p);
        color: var(--fg);
    }

    &.subtle {
        color: var(--g3);
        text-decoration: none;

        &:hover {
            background: var(--g2);
            color: var(--fg);
        }
    }
}
code {
    font-family: var(--font-mono), monospace;
    background: var(--g1);
    box-shadow: inset 0 0 0 1px var(--g3);
    padding: 0 0.25rem;
    margin: 0 0.125rem;
}
