---
import Base from "../layouts/Base.astro";
---

<Base>
    <h1>Ron Shavit 1</h1>
    <h2>Ron Shavit 2</h2>
    <h3>Ron Shavit 3</h3>
    <h4>Ron Shavit 4</h4>
    <h5>Ron Shavit 5</h5>
    <h6>Ron Shavit 6</h6>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a metus eu nibh placerat
        ultricies. Aenean rhoncus, lorem et pharetra porttitor, orci eros tincidunt massa, sit amet
        ultricies odio ipsum non diam. Donec a nisl sit amet nunc pharetra ultricies. Nam at augue
        in tellus cursus feugiat. Sed id nisl eu orci commodo lobortis. Integer ac urna vitae magna
        hendrerit sagitt
    </p>
    <code>helloWorld(name)</code>
</Base>
