---
import Base from "../layouts/Base.astro";
---

<Base>
    <p>
        I'm a coder that loves coding in an editor that's purposely build for coding. For some
        reason, I also use it for everything else. Yes, it's Neovim.
    </p>
    <p>
        This is a place where I post up various half-baked ideas and opinions about programming and
        maybe some other topics.
    </p>
    <h3>Recent posts</h3>
    <ul class="posts">
        <li>
            <time>2025-07-31</time>
            <a href="/">Post 00: Hello World</a>
        </li>
        <li>
            <time>2025-05-15</time>
            <a href="/">Post 01: Wat</a>
        </li>
        <li>
            <time>2024-12-02</time>
            <a href="/">Post 02: Some other unimportant opinion</a>
        </li>
    </ul>
</Base>

<style>
    ul.posts {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        list-style: none;
        padding: 0;

        & > li {
            & > time {
                padding-inline-end: 1rem;
                color: var(--g3);
            }

            & > a {
                text-decoration: none;

                &::before {
                    content: "#";
                    margin-inline-end: 0.25rem;
                    color: var(--p);
                }
            }
        }
    }
</style>
