---
import Base from "../layouts/Base.astro";
---

<Base>
    <p>
        I'm a coder that loves coding in an editor that's purposely build for coding.
        <br />
        For some mysterious reason, I also use it for everything else <i>(Yes, it's Neovim)</i>.
    </p>
    <p>
        This is a place where I post up various half-baked ideas and opinions about programming, and
        maybe some other topics.
    </p>
    <p>
        I also co-host an <a href="https://www.ptsg.dev" target="_blank">awesome podcast</a>, where
        I blabber about my unsolicited opinions in Hebrew.
    </p>
    <p>
        You can find me on <a href="https://github.com/r0nsha" target="_blank">GitHub</a> and
        <a href="https://www.linkedin.com/in/ron-shavit-b3b7074b/" target="_blank">LinkedIn</a>.
    </p>
    <h3>Recent posts</h3>
    <ul class="posts">
        <li>
            <time>2025-07-31</time>
            <span>
                <a href="/">Hello World</a>
            </span>
        </li>
        <li>
            <time>2025-05-15</time>
            <span>
                <a href="/">Wat</a>
            </span>
        </li>
        <li>
            <time>2024-12-02</time>
            <span>
                <a href="/">Some other unimportant opinion</a>
            </span>
        </li>
    </ul>
</Base>

<style>
    ul.posts {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        list-style: none;
        padding: 0;

        & > li {
            & > time {
                padding-inline-end: 1rem;
                color: var(--g3);
            }

            & > span {
                &::before {
                    content: "#";
                    margin-inline-end: 0.25rem;
                    color: var(--p);
                }

                & > a {
                    text-decoration: none;
                }
            }
        }
    }
</style>
