---
import Base from "../layouts/Base.astro";
---

<Base>
    <style></style>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a metus eu nibh placerat
        ultricies. Aenean rhoncus, lorem et pharetra porttitor, orci eros tincidunt massa, sit amet
        ultricies odio ipsum non diam. Donec a nisl sit amet nunc pharetra ultricies. Nam at augue
        in tellus cursus feugiat. Sed id nisl eu orci commodo lobortis. Integer ac urna vitae magna
        hendrerit sagitt
    </p>
    <h2>Ron Shavit</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a metus eu nibh placerat
        ultricies. Aenean rhoncus, lorem et pharetra porttitor, orci eros tincidunt massa, sit amet
        ultricies odio ipsum non diam. Donec a nisl sit amet nunc pharetra ultricies. Nam at augue
        in tellus cursus feugiat. Sed id nisl eu orci commodo lobortis. Integer ac urna vitae magna
        hendrerit sagitt
    </p>
    <h3>Ron Shavit</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a metus eu nibh placerat
        ultricies. Aenean rhoncus, lorem et pharetra porttitor, orci eros tincidunt massa, sit amet
        ultricies odio ipsum non diam. Donec a nisl sit amet nunc pharetra ultricies. Nam at augue
        in tellus cursus feugiat. Sed id nisl eu orci commodo lobortis. Integer ac urna vitae magna
        hendrerit sagitt
    </p>
    <code>helloWorld(name)</code>
</Base>
