---
import { Image } from "astro:assets";

import Base from "@/layouts/Base.astro";
import PostList from "@/components/PostList.astro";

import meAndGin from "@/assets/imgs/me_gin.jpg";
---

<Base>
    <section class="intro">
        <Image src={meAndGin} alt="Ron Shavit and his best friend" />
        <p id="about">
            I'm a coder that loves coding in an editor that's purposely build for coding. For some
            mysterious reason, I also use it for everything else <i>(Yes, it's Neovim)</i>.
        </p>
        <p id="place">
            This is a place where I post up my various half-baked ideas and opinions about
            programming, work and life.
        </p>
        <p id="podcast">
            I also co-host an <a href="https://www.ptsg.dev" target="_blank">awesome podcast</a>,
            where I blabber about my unsolicited opinions in Hebrew.
        </p>
    </section>
    <PostList limit={3}>
        <h2>Recent posts</h2>
    </PostList>
</Base>

<style>
    .intro {
        --img-size: 12rem;
        grid-template-rows: repeat(2, auto) 1fr;
        display: grid;
        gap: 1rem 1.5rem;
        margin-block-end: 2rem;

        & > img {
            grid-column-start: 1;
            grid-row: 1 / span 3;
            width: var(--img-size);
            height: var(--img-size);
            object-position: top;
            box-shadow: 0 0 0 1px var(--fg);
        }

        & p {
            margin: 0;
            grid-column: 2;
        }

        & #about {
            grid-row: 1;
        }

        & #place {
            grid-row: 2;
        }

        & #podcast {
            grid-row: 3;
            align-self: end;
        }
    }

    .filler {
        flex: 1;
    }

    @media (max-width: 720px) {
        .intro {
            --img-size: calc(5rem + 5vw);
            gap: 1rem;

            & > img {
                grid-row: 1 / span 2;
            }

            & #about {
                grid-row: 1;
            }

            & #place {
                grid-row: 3;
                grid-column: 1 / span 2;
            }

            & #podcast {
                grid-column: 1 / span 2;
                grid-row: 4;
                align-self: end;
            }
        }
    }
</style>
