---

---

<section id="footnotes">
    <label for="footnote-list">Notes</label>
    <ol id="footnote-list"></ol>
</section>

<style>
    #footnotes {
        display: none;
        border: 1px solid var(--fg);
        padding: 1rem;

        label {
            font-size: 1.2rem;
            font-weight: bold;
        }

        #footnote-list {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding-inline: 1.25rem;
            margin-block: 0.5rem;

            li a.backlink {
                font-size: 0.8rem;
            }
        }
    }

    /* desktop */
    @media (min-width: 1400px) {
        #footnotes {
            display: none;
        }
    }
</style>

<script is:inline>
    document.addEventListener(
        "DOMContentLoaded",
        () => {
            const sidenotes = document.querySelectorAll(".sidenote-container .sidenote");

            if (sidenotes.length === 0) {
                document.getElementById("footnotes").style.display = "none";
                return;
            }

            document.getElementById("footnotes").style.display = "block";
            const footnoteList = document.getElementById("footnote-list");

            for (const sidenote of sidenotes) {
                const id = sidenote.dataset.sidenoteId;
                const li = document.createElement("li");
                li.id = `footnote-${id}`;
                li.innerHTML = `${sidenote.innerHTML}<a class="backlink" href="#sidenote-${id}">↩︎</a>`;
                footnoteList.appendChild(li);
            }
        },
        { once: true }
    );
</script>
