---
interface Props {
    href: string;
}

const isActive = Astro.props.href == Astro.url.pathname;
---

<a href={Astro.props.href} class:list={[isActive && "active"]}>
    <slot />
</a>

<style>
    a.active {
    }
</style>
