---
import { getCollection } from "astro:content";

const { hash = false, limit = null } = Astro.props;
let posts = await getCollection("posts");

if (limit != null) {
    posts = posts.slice(0, limit);
}
---

<ul class:list={hash && "hash"}>
    {
        posts.map((post) => (
            <li>
                <time datetime={post.data.pubDate.toISOString()}>
                    {post.data.pubDate.toLocaleDateString("en-US", {
                        year: "numeric",
                        month: "short",
                        day: "numeric",
                    })}
                </time>
                <span>
                    <a href={`/posts/${post.id}`}>{post.data.title}</a>
                </span>
            </li>
        ))
    }
</ul>

<style>
    ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        list-style: none;
        padding: 0;

        & > li {
            & > time {
                display: inline-block;
                width: 6.5rem;
                color: var(--g3);
            }

            & > span {
                & > a {
                    text-decoration: none;
                    font-weight: bold;
                }
            }
        }

        &.hash {
            & > li > span::before {
                content: "#";
                margin-inline-end: 0.25rem;
                color: var(--p);
            }
        }
    }
</style>
