---
import { CollectionEntry } from "astro:content";

interface Props {
    post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
---

<li>
    <time datetime={post.data.pubDate.toISOString()}>
        {
            post.data.pubDate.toLocaleDateString("en-US", {
                year: "numeric",
                month: "short",
                day: "numeric",
            })
        }
    </time>
    <span>
        <a href={`/posts/${post.id}`}>{post.data.title}</a>
    </span>
</li>

<style>
    li {
        time {
            display: inline-block;
            width: 6.5rem;
            color: var(--g3);
        }

        span {
            a {
                text-decoration: none;
                font-weight: bold;
            }
        }

        span::before {
            content: "#";
            margin-inline-end: 0.25rem;
            color: var(--p);
            font-weight: bold;
        }
    }
</style>
