---

---

<span class="sidenote-container">
    <sup class="sidenote-label"></sup>
    <small class="sidenote">
        <slot />
    </small>
</span>

<style>
    .sidenote-container:hover {
        .sidenote-label {
            background: var(--g1);
            color: var(--fg);
        }

        .sidenote {
            background: var(--g1);
            color: var(--fg);
        }
    }

    .sidenote-label {
        counter-increment: sidenote;
        color: var(--g4);

        &::after {
            content: "[ " counter(sidenote) " ]";
            position: relative;
            font-size: 0.6rem;
            font-weight: bold;
        }
    }

    .sidenote {
        --width: 20rem;
        display: inline;
        float: right;
        clear: both;
        color: var(--g4);
        font-size: 0.8rem;
        margin-block-end: 1.5rem;
        margin-inline-end: calc(-1 * var(--width) - 2vw);
        text-indent: 0;
        width: var(--width);

        &::before {
            content: "[ " counter(sidenote) " ]";
            position: relative;
            inset-block-start: -0.3em;
            font-size: 0.8em;
            font-weight: bold;
            margin-inline-end: 0.125rem;
        }
    }

    /* desktop */
    @media (min-width: 1400px) {
        .sidenote {
        }
    }

    /* mobile */
    @media (max-width: 1400px) {
        .sidenote-container {
            display: none;
        }
    }
</style>
