---

---

<span class="sidenote-container">
    <label class="sidenote-label"></label>
    <small class="sidenote">
        <slot />
    </small>
</span>

<style>
    .sidenote-container:hover {
        .sidenote-label {
            background: var(--g1);
            color: var(--fg);
        }

        .sidenote {
            background: var(--g1);
            color: var(--fg);
        }
    }

    .sidenote-label {
        counter-increment: sidenote;
        color: var(--g4);

        &::after {
            content: "[ " counter(sidenote) " ]";
            position: relative;
            font-size: 0.6rem;
            font-weight: bold;
        }
    }

    .sidenote {
        --width: 20rem;
        float: right;
        clear: both;
        color: var(--g4);
        font-size: 0.8rem;
        margin-block-end: 1.5rem;
        margin-inline-end: calc(-1 * var(--width) - 2vw);
        text-indent: 0;
        width: var(--width);

        &::before {
            content: counter(sidenote) ".";
            position: relative;
            vertical-align: baseline;
            font-size: 0.8em;
            font-weight: bold;
        }
    }

    /* desktop */
    @media (min-width: 1400px) {
        .sidenote {
            display: inline;
            /* --width: 20vw; */
            /* margin-block-start: 0.5rem; */
            /* margin-inline-start: calc(-1 * var(--width) - 4vw); */
            /* margin-inline-start: calc(-1 * var(--width) - 2vw); */
            /* width: var(--width); */
        }
    }

    /* mobile */
    @media (max-width: 1400px) {
        .sidenote {
            display: none;
            /* width: 100%; */
            /* margin: 0.5rem 0; */
            /* padding-inline-start: 0.5rem; */
        }
    }
</style>
