---
import "../styles/normalize.css";
import "../styles/global.css";

import { Font } from "astro:assets";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <Font cssVariable="--font-default" preload />
        <Font cssVariable="--font-header" preload />
        <Font cssVariable="--font-mono" preload />
        <title>Ron Shavit</title>
        <style>
            :root {
                body {
                    max-width: 720px;
                    padding: 1rem;
                    margin: 0 auto;
                }

                header {
                    display: flex;
                    gap: 1rem;
                    justify-content: space-between;
                    align-items: center;
                    margin-block: 1rem;

                    & > #logo {
                        font-size: 1.5rem;
                        font-weight: bold;
                    }

                    & > nav {
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        font-size: 1rem;
                    }
                }

                @media (max-width: 720px) {
                    body {
                        width: auto;
                        max-width: none;
                        padding: 1.25rem;
                        margin: 0;
                    }

                    header {
                        flex-direction: column;
                        align-items: flex-start;
                        margin-block-start: 0.5rem;
                    }
                }
            }
        </style>
    </head>
    <body>
        <header>
            <a id="logo" href="/">Ron Shavit</a>
            <nav>
                <a>/about</a>
                <a>/posts</a>
            </nav>
        </header>
        <slot />
    </body>
</html>
