---
import "../styles/normalize.css";
import "../styles/global.css";

import { Font } from "astro:assets";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <Font cssVariable="--font-header" preload />
        <Font cssVariable="--font-body" preload />
        <Font cssVariable="--font-mono" preload />
        <title>Ron Shavit</title>
    </head>
    <body>
        <slot />
    </body>
</html>
